@import "tailwindcss";

@theme {
  /* font */
  --font-walsheim: var(--font-walsheim), sans-serif; 

  /* colour */
  --color-main-bg:#090909;
  --color-dark-gray:#101011;
  --color-white-text:#E2E2E2;
  --color-dark-gray-pop:#1C1C1C;
  --color-dark-border-gray:#1F1F1F;
  --color-good-bg:#153710;
  --color-gray-text:#6C6C6C;
  --color-warning-bg:#373510;
  --color-good:#1BC100;
  --color-warning:#C1B700;
  --color-blue-ball:#0073E6;
  --color-sky-blue-border:#2A67A4;
  --color-sky-from:#1D74F9;
  --color-sky-to:#092650;

/* 
  --color-warning:#C1B700; */


  /* margin */
  --spacing-sit-screen:1440px;
  --spacing-hundred:100px;
  --spacing-1px:1px;
  --spacing-900px:900px;
  --spacing-50:50px;
  --spacing-157:157px
}